################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SEOAnalyser.Components/bin/Debug/netstandard2.0
