################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SEOAnalyser.Components/bin/Debug/netstandard2.0
/SEOAnalyser.Components/obj
/SEOAnalyserWeb/.vs
/SEOAnalyserWeb/packages
/SEOAnalyserWeb/SEOAnalyserWeb/bin
/SEOAnalyserWeb/SEOAnalyserWeb/obj/Debug
/SEOAnalyserWeb/SEOAnalyserWeb/SEOAnalyserWeb.csproj.user
/SEOAnalyserWeb/SEOAnalyserWeb.Tests/bin/Debug
/SEOAnalyserWeb/SEOAnalyserWeb.Tests/obj/Debug
/SEOAnalyserWeb/SEOAnalyserWeb.Tests/SEOAnalyserWeb.Tests.csproj.user
